echo "# Albiosa-R" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/eresulaj78-blip/Albiosa-R.git
git push -u origin main
